<!DOCTYPE html>
<html lang="de" dir="ltr">
<!--Default language german, reading from l. to r.-->

<head>
    <meta charset="utf-8">
    <!--Default character set: https://www.w3schools.com/html/html_charset.asp-->
    <title>CoVid-Chart</title>
    <!--Tab title-->
    <meta name="description" content="">
    <!--Description of web page-->
    <meta name="keywords" content="">
    <!--define keywords for search engines-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Responsive web design:https://www.w3schools.com/css/css_rwd_viewport.asp-->

    <link rel="icon" href="/images/SarsCov-2.svg">
    <!--Tab image-->

    <!--MAXcdn:-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--Bootstrap.css-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--jQuery.js-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--Bootstrap.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <!--Chart.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js"></script>
    <!--jQuery-ajaxy-->

    <link rel="stylesheet" href="/public/css/style.css">
    <!--Insert CSS file-->

</head>

<body>
    <div class="container-fluid">
        <!--Bootstrap container-->
        <div class="row" id="header">
            <a href="/index.html"><img id="logo-img" src="/public/images/SarsCov-2.svg" alt="Virus"></a>
            <a href="/index.html">
                <p id="logo-name">C☣︎Vjs-19</p>
            </a>
        </div>
        <!----------------------------------------------------------------------------------------------------------------->

        <div class="row" id="navbar">
            <!--Generate nav menu to switch between pages-->
            <div class="col-md-1" id="nav"><a href="/index.html">Gymnasium Liestal</a></div>
            <div class="col-md-1" id="nav"><a href="/views/worldwide.html">International</a></div>
            <div class="col-md-1 active" id="nav"><a href="/views/switzerland.html">Schweiz</a></div>
        </div>

        <iframe src="https://www.corona-data.ch" frameborder="0" loading="lazy"
            style="width: 100%; height: 500px; border: 0px none;"></iframe>
        <p class="src" style="margin-right: 1%; margin-bottom: 0px;">Src: <span>corona-data.ch</span></p>

        <img src="https://www.bag.admin.ch/bag/de/home/krankheiten/ausbrueche-epidemien-pandemien/aktuelle-ausbrueche-epidemien/novel-cov/massnahmen-des-bundes/_jcr_content/par/image/image.imagespooler.png/1610543701355/Regeln_Empfehlungen.png"
            alt="Regeln_Empfehlungen" id="flyer">
        <p class="src" style="margin-right: 20%; margin-bottom: 0px;">Src: <span>https://bag.admin.ch</span></p>

        <hr>
        <div class="row" id="footer">
            <div class="col-3" id="placeholder"></div>
            <div class="col-3">©Yannick Spriessler 2021</div>
            <div class="col-3"><a href="./public/Documentation/COVjs19-documentation.pdf"
                    target="_blank">Documentation</a>
            </div>
            <div class="col-3" id="placeholder"></div>
        </div>
    </div>
</body>

</html>