<!DOCTYPE html>
<html lang="de">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Responsive web design:https://www.w3schools.com/css/css_rwd_viewport.asp-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--Bootstrap.css-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!--Bootstrap.js-->
    <link rel="stylesheet" href="/public/css/style.css">
    <!--Insert CSS file-->

</head>

<body>
    <div class="container-fluid" style="margin: 0"></div>

    <div class="row" id="header" style="margin:-10px">
        <a href="/index.html"><img id="logo-img" src="/public/images/SarsCov-2.svg" alt="Virus"></a>
        <a href="/index.html">
            <p id="logo-name">CoVJS-19</p>
        </a>
    </div>

    <div class="row" id="navbar">
        <!--Generate nav menu to switch between pages-->
        <div class="col-md-1 active" id="nav"><a href="/index.html">Gymnasium Liestal</a></div>
        <div class="col-md-1" id="nav"><a href="/views/worldwide.html">Worldwide</a></div>
        <div class="col-md-1" id="nav"><a href="/views/switzerland.html">Switzerland</a></div>
    </div>
</body>

</html>